<h1>User Login</h1>

<form method="POST" action="/sessions">
	<input type="email" name="email" placeholder="Email Address">
	<input type="password" name="password" placeholder="Password">
	<input type="submit" name="submit" value="Register">
</form>